<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>To Do List</title>
  </head>
  <body>

    <% if (kindofDay === "Saturday" || kindofDay === "Sunday") { %>
      <h1 style="color: purple"><%= kindofDay %> ToDo List</h1>
    <% } else { %>
      <h1 style="color: blue"><%= kindofDay %> ToDo List</h1>
    <% } %>

  </body>
</html>
