/* @charset "utf-8"; */
body {
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
}

h1 {
  color: #66BFBF;
  margin: 50px auto 0 auto;  /* top right bottom left: clockwise; auto means centered; */
  line-height: 1.1;
  font-family: 'Sacramento', cursive;
  font-size: 5.625rem;
  /* font-size: 5.625em; */  /* 1em = 100% = 16px; em: dynamic but inherited*/
  /* font-size: 562.5%;*/  /* 100%: 16px; %: dynamic but inherited*/
  /* font-size: 90px;  not dynamic */
}

h2 {
  color: #66BFBF;
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  font-weight: normal;
}

h3 {
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
}

.top-container {
  background-color: #E4F9F5;
  position: relative;
  padding-top: 100px;
}

.middle-container {

}

.bottom-container {

}

.skill-row {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
  line-height: 2;
}

.pro {
  text-decoration: underline;
}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 50px;
}

.bottom-cloud {
  position: absolute;
  left: 300px;
  bottom: 300px;
}

.profile-img {
  height: 200px;
  margin: 50px auto 0 auto;
  border-radius: 20%;
}

.java-img {
  width: 25%;
  float: left;
  margin-right: 30px;
}

.js-img {
  width: 25%;
  float: right;
  margin-left: 30px;
}

.db-img {
  width: 25%;
  float: left;
  margin-right: 30px;
}

.system-skill-description {
  clear: left;
}
