/* @charset "utf-8"; */
body {
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
}

h1 {
  margin: 50px auto 0 auto;
  font-size: 5.625rem;
  /* font-size: 5.625em; */  /* 1em = 100% = 16px; em: dynamic but inherited*/
  /* font-size: 562.5%;*/  /* 100%: 16px; %: dynamic but inherited*/
  /* font-size: 90px;  not dynamic */
  font-family: 'Sacramento', cursive;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
}

h3 {
  font-family: 'Montserrat', sans-serif;
}

.top-container {
  background-color: #E4F9F5;
  position: relative;
  padding-top: 100px;
}

.pro {
  text-decoration: underline;
}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 50px;
}

.bottom-cloud {
  position: absolute;
  left: 300px;
  bottom: 300px;
}

.middle-container {
  background-color: red;
  width: 200px;
  height: 200px;
  margin-left: 260px;
  border: solid 20px;
}

.bottom-container {
  background-color: blue;
  width: 200px;
  height: 200px;
  margin-left: 500px;
  border: solid 10px;
}
