/* @charset "utf-8"; */

h1 {
  color: #66BFBF;
}

h2 {
  color: #66BFBF;
}

body {
  background-color: #EAF6F6;
}

hr {
  background-color: white;
  border-style: none;
  height: 2px;
  /* width: 90%/100px; */
}

/*img {
  height: 200px;
}*/
